main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* border: 1px solid yellow; */
    padding: 5px;
    margin: 25px auto;
    background-color: #6a88c6;
    width: 75%;
}

.support {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support input {
    margin-bottom: 15px;
}

.support textarea {
    resize: none;
}

.support button {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;    
}