.support {
    display: flex;
    flex-direction: column;
}

.support input {
    margin-bottom: 15px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* border: 1px solid yellow; */
    padding: 5px;
    margin: 25px auto;
    background-color: #6a88c6;
    /* width: 50%; */
}
