.band-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid #00001F;
    padding: 5px;
    margin: 25px auto;
    background-color: #6a88c6;
    width: 50%;
}