/* body {
  background: #6a88c6;
  font-family: 'Squada One', cursive;
} */

body {
  margin: 2% 10%;
  background: #6a88c6;
  background-image: url('../src/images/Band\ Photo\ 1.png');
  background-position: cover;
  background-size: auto fill;
  background-repeat: no-repeat;
  background-position-x: center;
  max-height: 80%;
  font-family: 'Squada One', cursive;
  color: #f3f3f8;
}

a {
  color: #f3f3f8;
  text-decoration: none;
}

a:hover {
  color: #000542;
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: #f3f3f8;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: #6a88c6;
  max-width: 225px;
  border: 1px solid #00001F;
}

ul {
  background: #6a88c6;
  border: 1px solid #00001f;
  list-style: none;
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: center;
  padding: 0;
}

ul li {
  margin: 0px 15px;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.homelink a:hover {
  color: #f3f3f8;
  text-decoration: none;
}


.footer {
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 60px;
  padding-left: 90px;
  padding-right: 90px;
}